
/*button {
  background-color: brown;
  color: white;
  padding: 25px;
  border-radius: 10px;
}
*/

/* cambia el aspecto  al colocar el raton por encima*/

button {
  background-color: brown;
  color: white;
  padding: 25px;
  border-radius: 10px;
}

button:hover{
  background-color: blue;
}

button:focus {
  background-color: red;
}
